<a href="https://colab.research.google.com/github/MSebastian3/Evaluacion/blob/main/Actividad_5_(Evaluaci%C3%B3n).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Instalamos librería para análisis de variables categóricas
#%pip install funpymodeling

In [30]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#from funpymodeling.exploratory import freq_tbl

In [ ]:
#Cargar archivo csv desde equipo
#from google.colab import files
#files.upload()

# ***California_EUA.csv***

## **ETAPA 1**

In [31]:
dfeua = pd.read_csv('California_EUA.csv', encoding = 'unicode_escape')
dfeua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6936 entries, 0 to 6935
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ï»¿id                                         6936 non-null   float64
 1   listing_url                                   6936 non-null   object
 2   scrape_id                                     6936 non-null   float64
 3   last_scraped                                  6936 non-null   object
 4   source                                        6936 non-null   object
 5   name                                          6936 non-null   object
 6   description                                   6889 non-null   object
 7   neighborhood_overview                         4850 non-null   object
 8   picture_url                                   6936 non-null   object
 9   host_id                                       6936 non-null   int64
 10  host_url                                      6936 non-null   object
 11  host_name                                     6936 non-null   object
 12  host_since                                    6936 non-null   object
 13  host_location                                 5715 non-null   object
 14  host_about                                    4684 non-null   object
 15  host_response_time                            5917 non-null   object
 16  host_response_rate                            5917 non-null   object
 17  host_acceptance_rate                          6135 non-null   object
 18  host_is_superhost                             6927 non-null   object
 19  host_thumbnail_url                            6936 non-null   object
 20  host_picture_url                              6936 non-null   object
 21  host_neighbourhood                            6635 non-null   object
 22  host_listings_count                           6936 non-null   int64
 23  host_total_listings_count                     6936 non-null   int64
 24  host_verifications                            6936 non-null   object
 25  host_has_profile_pic                          6936 non-null   object
 26  host_identity_verified                        6936 non-null   object
 27  neighbourhood                                 4850 non-null   object
 28  neighbourhood_cleansed                        6936 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      6936 non-null   float64
 31  longitude                                     6936 non-null   float64
 32  property_type                                 6936 non-null   object
 33  room_type                                     6936 non-null   object
 34  accommodates                                  6936 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                6922 non-null   object
 37  bedrooms                                      5991 non-null   float64
 38  beds                                          6816 non-null   float64
 39  amenities                                     6936 non-null   object
 40  price                                         6936 non-null   object
 41  minimum_nights                                6936 non-null   int64
 42  maximum_nights                                6936 non-null   int64
 43  minimum_minimum_nights                        6934 non-null   float64
 44  maximum_minimum_nights                        6934 non-null   float64
 45  minimum_maximum_nights                        6934 non-null   float64
 46  maximum_maximum_nights                        6934 non-null   float64
 47  minimum_nights_avg_ntm                        6934 non-null   float64
 48  maximum_nights_avg_ntm                        6934 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6936 non-null   object
 51  availability_30                               6936 non-null   int64
 52  availability_60                               6936 non-null   int64
 53  availability_90                               6936 non-null   int64
 54  availability_365                              6936 non-null   int64
 55  calendar_last_scraped                         6936 non-null   object
 56  number_of_reviews                             6936 non-null   int64
 57  number_of_reviews_ltm                         6936 non-null   int64
 58  number_of_reviews_l30d                        6936 non-null   int64
 59  first_review                                  5611 non-null   object
 60  last_review                                   5611 non-null   object
 61  review_scores_rating                          5611 non-null   float64
 62  review_scores_accuracy                        5590 non-null   float64
 63  review_scores_cleanliness                     5590 non-null   float64
 64  review_scores_checkin                         5589 non-null   float64
 65  review_scores_communication                   5590 non-null   float64
 66  review_scores_location                        5589 non-null   float64
 67  review_scores_value                           5589 non-null   float64
 68  license                                       4178 non-null   object
 69  instant_bookable                              6936 non-null   object
 70  calculated_host_listings_count                6936 non-null   int64
 71  calculated_host_listings_count_entire_homes   6936 non-null   int64
 72  calculated_host_listings_count_private_rooms  6936 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6936 non-null   int64
 74  reviews_per_month                             5611 non-null   float64
dtypes: float64(23), int64(17), object(35)
memory usage: 4.0+ MB

In [32]:
#Checar si hay valores nulos por columna
pd.set_option('display.max_rows', None)
valores_nulos=dfeua.isnull().sum().sum()
valores_nulos

48877

### Filtros

In [33]:
#Crear filtro numerico y no numerico
filtroeuanumerico = dfeua.select_dtypes(include=['float64', 'int64'])
#filtroeuanumerico.info()

In [34]:
filtroeua = dfeua.select_dtypes('object')
#filtroeuanonumerico.info()

### Nulos

In [35]:
#sustituir los nulos por el promedio de la columna
data1 = filtroeuanumerico.copy()
filtroeuanumerico = data1.fillna(data1.mean())


#sustituir los nulos por 'sin registro'
filtroeua = filtroeua.fillna('sin registro')

In [36]:
#Checar si hay valores nulos por columna    NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=filtroeuanumerico.isnull().sum().sum()
valores_nulos

20808

In [37]:
#Checar si hay valores nulos por columna    NO NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=filtroeua.isnull().sum().sum()
valores_nulos

0

In [38]:
#NUMERICO
#Se eliminaron las columnas 'neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated'
#ya que son numericas pero no tienen ningun registro y no aportan valor al análisis
filtroeuanumerico = filtroeuanumerico.drop(['neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated'], axis=1)

#Checar si hay valores nulos por columna
pd.set_option('display.max_rows', None)
valores_nulos=filtroeuanumerico.isnull().sum().sum()
valores_nulos

0

### Outliers **MÉTODO DE IQR (RANGO INTER QUARTILICO)**

In [39]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=filtroeuanumerico

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
#print("Limite superior permitido", Limite_Superior_iqr)
#print("Limite inferior permitido", Limite_Inferior_iqr)

In [40]:
#Encontramos Ouliers
outliers_iqr= filtroeuanumerico[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
#outliers_iqr.head()

In [41]:
#Obtenemos datos limpios
data_clean_iqr1= filtroeuanumerico[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
#data_clean_iqr1.head()

In [42]:
#Checar si hay valores nulos por columna    NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=data_clean_iqr1.isnull().sum().sum()
valores_nulos

17526

In [43]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data5_iqr=filtroeuanumerico.copy()
data5_iqr=data5_iqr.fillna(round(filtroeuanumerico.mean(),1))
#data5_iqr

In [44]:
#Checar si hay valores nulos por columna    NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=data5_iqr.isnull().sum().sum()
valores_nulos

0

### Concatenar

In [45]:
concatenadoeua = pd.concat([data5_iqr, filtroeua], axis=1)
concatenadoeua.head()

,ï»¿id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,958.0,2.020000e+13,1169,1,1,37.77028,-122.43317,3,1.0,2.0,...,Entire home/apt,1 bath,"[""Oven"", ""Self check-in"", ""Cooking basics"", ""L...",$202.00,t,06/03/2023,23/07/2009,19/02/2023,City Registration Pending,f
1,5858.0,2.020000e+13,8904,2,2,37.74474,-122.42089,4,2.0,2.0,...,Entire home/apt,1 bath,"[""Essentials"", ""Carbon monoxide alarm"", ""Hange...",$235.00,t,06/03/2023,03/05/2009,06/08/2017,sin registro,f
2,8142.0,2.020000e+13,21994,13,14,37.76555,-122.45213,1,1.0,1.0,...,Private room,4 shared baths,"[""Security cameras on property"", ""Host greets ...",$56.00,t,06/03/2023,08/09/2014,27/10/2022,sin registro,f
3,8339.0,2.020000e+13,24215,2,6,37.77564,-122.43642,4,2.0,2.0,...,Entire home/apt,1.5 baths,"[""Oven"", ""Cooking basics"", ""TV"", ""Smoke alarm""...",$575.00,t,06/03/2023,25/09/2009,28/06/2019,STR-0000264,f
4,8739.0,2.020000e+13,7149,2,2,37.76030,-122.42197,3,1.0,1.0,...,Private room,1 private bath,"[""Paid parking garage off premises"", ""Luggage ...",$110.00,t,06/03/2023,01/08/2009,25/02/2023,STR-0000028,f

### Guardar a CSV

In [46]:
#Convertir archivo filtrado a CSV
#concatenadoeua.to_csv("EUA_limpio.csv")

In [47]:
#descargar archivo filtrado en csv
from google.colab import files  
#files.download("EUA_limpio.csv")

## **ETAPA 2**

In [48]:
#filtroa
#se cambiaron los valores "sin registro" por "5%" para poder identificarlos ya que el dataset no tiene registros con ese valor
concatenadoeua["host_acceptance_rate"] = concatenadoeua["host_acceptance_rate"].replace("sin registro", "5%")
#se elimino el "%"
concatenadoeua['host_acceptance_rate'] = pd.to_numeric(concatenadoeua['host_acceptance_rate'].str.replace('%', ''))

In [49]:
#filtroe
#cambiar Half-bath, Shared half-bath, Private half-bath, sin registro
concatenadoeua["bathrooms_text"] = concatenadoeua["bathrooms_text"].str.replace('Half-bath', '0.5').str.replace('Shared half-bath', '0.5').str.replace('Private half-bath', '0.5').str.replace('sin registro', '0')

#se extraen los numeros y se guardan como string en la misma columna
concatenadoeua["bathrooms_text"] = concatenadoeua["bathrooms_text"].str.extract('(\d+\.?\d*)', expand=False)

#cambiar columna a float
concatenadoeua["bathrooms_text"] = concatenadoeua["bathrooms_text"].astype(float)

In [50]:
#filtrof
#se elimino el "$" y ","
#se cambia la columna "price" a float para poder compararla
concatenadoeua["price"] = concatenadoeua["price"].str.replace(',', '').str.replace('$', '').astype(float)

<ipython-input-50-af53cb0f8d5c>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  concatenadoeua["price"] = concatenadoeua["price"].str.replace(',', '').str.replace('$', '').astype(float)

### **Filtros**

In [51]:
filtroa_eua = concatenadoeua[concatenadoeua["host_acceptance_rate"] > 50]
filtrob_eua = concatenadoeua[concatenadoeua["host_is_superhost"] == "t"]
filtroc_eua = concatenadoeua[concatenadoeua["host_identity_verified"] == "f"]
filtrod_eua = concatenadoeua[concatenadoeua["property_type"].isin(["Private room", "Hotel room"])]
filtroe_eua = concatenadoeua[concatenadoeua["bathrooms_text"] > 1]
filtrof_eua = concatenadoeua.loc[(concatenadoeua['price'] > 10000) & (concatenadoeua['room_type'] == 'Entire home/apt')]
filtrog_eua = concatenadoeua[concatenadoeua["review_scores_cleanliness"] > 4.5]
filtroh_eua = concatenadoeua[concatenadoeua["review_scores_value"] > 4.9]
filtroi_eua = concatenadoeua[concatenadoeua["availability_365"] < 100]
filtroj_eua = concatenadoeua[concatenadoeua["host_response_time"] == "within an hour"]

In [52]:
concatenadoeua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6936 entries, 0 to 6935
Data columns (total 72 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ï»¿id                                         6936 non-null   float64
 1   scrape_id                                     6936 non-null   float64
 2   host_id                                       6936 non-null   int64
 3   host_listings_count                           6936 non-null   int64
 4   host_total_listings_count                     6936 non-null   int64
 5   latitude                                      6936 non-null   float64
 6   longitude                                     6936 non-null   float64
 7   accommodates                                  6936 non-null   int64
 8   bedrooms                                      6936 non-null   float64
 9   beds                                          6936 non-null   float64
 10  minimum_nights                                6936 non-null   int64
 11  maximum_nights                                6936 non-null   int64
 12  minimum_minimum_nights                        6936 non-null   float64
 13  maximum_minimum_nights                        6936 non-null   float64
 14  minimum_maximum_nights                        6936 non-null   float64
 15  maximum_maximum_nights                        6936 non-null   float64
 16  minimum_nights_avg_ntm                        6936 non-null   float64
 17  maximum_nights_avg_ntm                        6936 non-null   float64
 18  availability_30                               6936 non-null   int64
 19  availability_60                               6936 non-null   int64
 20  availability_90                               6936 non-null   int64
 21  availability_365                              6936 non-null   int64
 22  number_of_reviews                             6936 non-null   int64
 23  number_of_reviews_ltm                         6936 non-null   int64
 24  number_of_reviews_l30d                        6936 non-null   int64
 25  review_scores_rating                          6936 non-null   float64
 26  review_scores_accuracy                        6936 non-null   float64
 27  review_scores_cleanliness                     6936 non-null   float64
 28  review_scores_checkin                         6936 non-null   float64
 29  review_scores_communication                   6936 non-null   float64
 30  review_scores_location                        6936 non-null   float64
 31  review_scores_value                           6936 non-null   float64
 32  calculated_host_listings_count                6936 non-null   int64
 33  calculated_host_listings_count_entire_homes   6936 non-null   int64
 34  calculated_host_listings_count_private_rooms  6936 non-null   int64
 35  calculated_host_listings_count_shared_rooms   6936 non-null   int64
 36  reviews_per_month                             6936 non-null   float64
 37  listing_url                                   6936 non-null   object
 38  last_scraped                                  6936 non-null   object
 39  source                                        6936 non-null   object
 40  name                                          6936 non-null   object
 41  description                                   6936 non-null   object
 42  neighborhood_overview                         6936 non-null   object
 43  picture_url                                   6936 non-null   object
 44  host_url                                      6936 non-null   object
 45  host_name                                     6936 non-null   object
 46  host_since                                    6936 non-null   object
 47  host_location                                 6936 non-null   object
 48  host_about                                    6936 non-null   object
 49  host_response_time                            6936 non-null   object
 50  host_response_rate                            6936 non-null   object
 51  host_acceptance_rate                          6936 non-null   int64
 52  host_is_superhost                             6936 non-null   object
 53  host_thumbnail_url                            6936 non-null   object
 54  host_picture_url                              6936 non-null   object
 55  host_neighbourhood                            6936 non-null   object
 56  host_verifications                            6936 non-null   object
 57  host_has_profile_pic                          6936 non-null   object
 58  host_identity_verified                        6936 non-null   object
 59  neighbourhood                                 6936 non-null   object
 60  neighbourhood_cleansed                        6936 non-null   object
 61  property_type                                 6936 non-null   object
 62  room_type                                     6936 non-null   object
 63  bathrooms_text                                6936 non-null   float64
 64  amenities                                     6936 non-null   object
 65  price                                         6936 non-null   float64
 66  has_availability                              6936 non-null   object
 67  calendar_last_scraped                         6936 non-null   object
 68  first_review                                  6936 non-null   object
 69  last_review                                   6936 non-null   object
 70  license                                       6936 non-null   object
 71  instant_bookable                              6936 non-null   object
dtypes: float64(22), int64(18), object(32)
memory usage: 3.8+ MB

### Guardar a CSV

In [53]:
#Convertir archivo filtrado a CSV
#filtroa.to_csv("filtroa_eua.csv")
#filtrob.to_csv("filtrob_eua.csv")
#filtroc.to_csv("filtroc_eua.csv")
#filtrod.to_csv("filtrod_eua.csv")
#filtroe.to_csv("filtroe_eua.csv")
#filtrof.to_csv("filtrof_eua.csv")
#filtrog.to_csv("filtrog_eua.csv")
#filtroh.to_csv("filtroh_eua.csv")
#filtroi.to_csv("filtroi_eua.csv")
#filtroj.to_csv("filtroj_eua.csv")

In [54]:
#descargar archivo filtrado en csv
from google.colab import files  
#files.download("filtroa_eua.csv")
#files.download("filtrob_eua.csv")
#files.download("filtroc_eua.csv")
#files.download("filtrod_eua.csv")
#files.download("filtroe_eua.csv")
#files.download("filtrof_eua.csv")
#files.download("filtrog_eua.csv")
#files.download("filtroh_eua.csv")
#files.download("filtroi_eua.csv")
#files.download("filtroj_eua.csv")

# ***Girona_España.csv***

## **ETAPA 1**

In [55]:
dfeua = pd.read_csv('Girona_España.csv', encoding = 'unicode_escape')
dfeua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19655 entries, 0 to 19654
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            19655 non-null  float64
 1   listing_url                                   19655 non-null  object
 2   scrape_id                                     19655 non-null  float64
 3   last_scraped                                  19655 non-null  object
 4   source                                        19655 non-null  object
 5   name                                          19655 non-null  object
 6   description                                   19632 non-null  object
 7   neighborhood_overview                         8342 non-null   object
 8   picture_url                                   19655 non-null  object
 9   host_id                                       19655 non-null  int64
 10  host_url                                      19655 non-null  object
 11  host_name                                     19538 non-null  object
 12  host_since                                    19538 non-null  object
 13  host_location                                 14096 non-null  object
 14  host_about                                    11231 non-null  object
 15  host_response_time                            17567 non-null  object
 16  host_response_rate                            17567 non-null  object
 17  host_acceptance_rate                          18502 non-null  object
 18  host_is_superhost                             19640 non-null  object
 19  host_thumbnail_url                            19538 non-null  object
 20  host_picture_url                              19538 non-null  object
 21  host_neighbourhood                            1269 non-null   object
 22  host_listings_count                           19538 non-null  float64
 23  host_total_listings_count                     19538 non-null  float64
 24  host_verifications                            19655 non-null  object
 25  host_has_profile_pic                          19538 non-null  object
 26  host_identity_verified                        19538 non-null  object
 27  neighbourhood                                 8342 non-null   object
 28  neighbourhood_cleansed                        19655 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      19655 non-null  float64
 31  longitude                                     19655 non-null  float64
 32  property_type                                 19655 non-null  object
 33  room_type                                     19655 non-null  object
 34  accommodates                                  19655 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                19639 non-null  object
 37  bedrooms                                      19152 non-null  float64
 38  beds                                          19562 non-null  float64
 39  amenities                                     19655 non-null  object
 40  price                                         19655 non-null  object
 41  minimum_nights                                19655 non-null  int64
 42  maximum_nights                                19655 non-null  int64
 43  minimum_minimum_nights                        19654 non-null  float64
 44  maximum_minimum_nights                        19654 non-null  float64
 45  minimum_maximum_nights                        19654 non-null  float64
 46  maximum_maximum_nights                        19654 non-null  float64
 47  minimum_nights_avg_ntm                        19654 non-null  float64
 48  maximum_nights_avg_ntm                        19654 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              19655 non-null  object
 51  availability_30                               19655 non-null  int64
 52  availability_60                               19655 non-null  int64
 53  availability_90                               19655 non-null  int64
 54  availability_365                              19655 non-null  int64
 55  calendar_last_scraped                         19655 non-null  object
 56  number_of_reviews                             19655 non-null  int64
 57  number_of_reviews_ltm                         19655 non-null  int64
 58  number_of_reviews_l30d                        19655 non-null  int64
 59  first_review                                  14428 non-null  object
 60  last_review                                   14428 non-null  object
 61  review_scores_rating                          14428 non-null  float64
 62  review_scores_accuracy                        14370 non-null  float64
 63  review_scores_cleanliness                     14372 non-null  float64
 64  review_scores_checkin                         14371 non-null  float64
 65  review_scores_communication                   14370 non-null  float64
 66  review_scores_location                        14371 non-null  float64
 67  review_scores_value                           14370 non-null  float64
 68  license                                       18520 non-null  object
 69  instant_bookable                              19655 non-null  object
 70  calculated_host_listings_count                19655 non-null  int64
 71  calculated_host_listings_count_entire_homes   19655 non-null  int64
 72  calculated_host_listings_count_private_rooms  19655 non-null  int64
 73  calculated_host_listings_count_shared_rooms   19655 non-null  int64
 74  reviews_per_month                             14428 non-null  float64
dtypes: float64(25), int64(15), object(35)
memory usage: 11.2+ MB

In [56]:
#Checar si hay valores nulos por columna
pd.set_option('display.max_rows', None)
valores_nulos=dfeua.isnull().sum().sum()
valores_nulos

174630

### Filtros

In [57]:
#Crear filtro numerico y no numerico
filtroeuanumerico = dfeua.select_dtypes(include=['float64', 'int64'])
#filtroeuanumerico.info()

In [58]:
filtroeua = dfeua.select_dtypes('object')
#filtroeuanonumerico.info()

### Nulos

In [59]:
#sustituir los nulos por el promedio de la columna
data1 = filtroeuanumerico.copy()
filtroeuanumerico = data1.fillna(data1.mean())


#sustituir los nulos por 'sin registro'
filtroeua = filtroeua.fillna('sin registro')

In [60]:
#Checar si hay valores nulos por columna    NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=filtroeuanumerico.isnull().sum().sum()
valores_nulos

58965

In [61]:
#Checar si hay valores nulos por columna    NO NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=filtroeua.isnull().sum().sum()
valores_nulos

0

In [62]:
#NUMERICO
#Se eliminaron las columnas 'neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated'
#ya que son numericas pero no tienen ningun registro y no aportan valor al análisis
filtroeuanumerico = filtroeuanumerico.drop(['neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated'], axis=1)

#Checar si hay valores nulos por columna
pd.set_option('display.max_rows', None)
valores_nulos=filtroeuanumerico.isnull().sum().sum()
valores_nulos

0

### Outliers **MÉTODO DE IQR (RANGO INTER QUARTILICO)**

In [63]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=filtroeuanumerico

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
#print("Limite superior permitido", Limite_Superior_iqr)
#print("Limite inferior permitido", Limite_Inferior_iqr)

In [64]:
#Encontramos Ouliers
outliers_iqr= filtroeuanumerico[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
#outliers_iqr.head()

In [65]:
#Obtenemos datos limpios
data_clean_iqr1= filtroeuanumerico[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
#data_clean_iqr1.head()

In [66]:
#Checar si hay valores nulos por columna    NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=data_clean_iqr1.isnull().sum().sum()
valores_nulos

37109

In [67]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data5_iqr=filtroeuanumerico.copy()
data5_iqr=data5_iqr.fillna(round(filtroeuanumerico.mean(),1))
#data5_iqr

In [68]:
#Checar si hay valores nulos por columna    NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=data5_iqr.isnull().sum().sum()
valores_nulos

0

### Concatenar

In [69]:
concatenadoeua = pd.concat([data5_iqr, filtroeua], axis=1)
concatenadoeua.head()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,14551.0,2.023030e+13,57237,1.0,5.0,41.99650,2.83646,2,1.0,1.0,...,Private room,1 private bath,"[""Shared pool"", ""Refrigerator"", ""Long term sta...",$42.00,t,31/03/2023,08/10/2010,27/02/2023,HUTG-049542,f
1,1205757.0,2.023030e+13,6586355,1.0,1.0,41.79304,2.77412,2,1.0,1.0,...,Private room,1.5 shared baths,"[""Free parking on premises"", ""Refrigerator"", ""...",$47.00,t,31/03/2023,01/08/2013,26/06/2022,sin registro,f
2,1212820.0,2.023030e+13,6620645,2.0,3.0,42.11284,3.16670,4,1.0,2.0,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Free parking on premises...",$74.00,t,01/04/2023,10/06/2013,30/12/2022,sin registro,f
3,751638.0,2.023030e+13,3680160,6.0,6.0,42.36958,2.98030,2,1.0,2.0,...,Private room,1 private bath,"[""Hair dryer"", ""Luggage dropoff allowed"", ""Fre...",$45.00,t,31/03/2023,23/08/2013,29/08/2022,PG000794,t
4,41342.0,2.023030e+13,180072,2.0,3.0,42.34655,3.20463,4,1.0,1.0,...,Entire home/apt,1 bath,"[""Free parking on premises"", ""Refrigerator"", ""...",$120.00,t,01/04/2023,14/07/2013,28/08/2021,HUTG-003688,f

### Guardar a CSV

In [70]:
#Convertir archivo filtrado a CSV
concatenadoeua.to_csv("ESP_limpio.csv")

In [71]:
#descargar archivo filtrado en csv
from google.colab import files  
files.download("ESP_limpio.csv")

## **ETAPA 2**

In [72]:
#filtroa
#se cambiaron los valores "sin registro" por "5%" para poder identificarlos ya que el dataset no tiene registros con ese valor
concatenadoeua["host_acceptance_rate"] = concatenadoeua["host_acceptance_rate"].replace("sin registro", "5%")
#se elimino el "%"
concatenadoeua['host_acceptance_rate'] = pd.to_numeric(concatenadoeua['host_acceptance_rate'].str.replace('%', ''))

In [73]:
#filtroe
#cambiar Half-bath, Shared half-bath, Private half-bath, sin registro
concatenadoeua["bathrooms_text"] = concatenadoeua["bathrooms_text"].str.replace('Half-bath', '0.5').str.replace('Shared half-bath', '0.5').str.replace('Private half-bath', '0.5').str.replace('sin registro', '0')

#se extraen los numeros y se guardan como string en la misma columna
concatenadoeua["bathrooms_text"] = concatenadoeua["bathrooms_text"].str.extract('(\d+\.?\d*)', expand=False)

#cambiar columna a float
concatenadoeua["bathrooms_text"] = concatenadoeua["bathrooms_text"].astype(float)

In [74]:
#filtrof
#se elimino el "$" y ","
#se cambia la columna "price" a float para poder compararla
concatenadoeua["price"] = concatenadoeua["price"].str.replace(',', '').str.replace('$', '').astype(float)

<ipython-input-74-af53cb0f8d5c>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  concatenadoeua["price"] = concatenadoeua["price"].str.replace(',', '').str.replace('$', '').astype(float)

In [75]:
filtroa_esp = concatenadoeua[concatenadoeua["host_acceptance_rate"] > 50]
filtrob_esp = concatenadoeua[concatenadoeua["host_is_superhost"] == "t"]
filtroc_esp = concatenadoeua[concatenadoeua["host_identity_verified"] == "f"]
filtrod_esp = concatenadoeua[concatenadoeua["property_type"].isin(["Private room", "Hotel room"])]
filtroe_esp = concatenadoeua[concatenadoeua["bathrooms_text"] > 1]
filtrof_esp = concatenadoeua.loc[(concatenadoeua['price'] > 10000) & (concatenadoeua['room_type'] == 'Entire home/apt')]
filtrog_esp = concatenadoeua[concatenadoeua["review_scores_cleanliness"] > 4.5]
filtroh_esp = concatenadoeua[concatenadoeua["review_scores_value"] > 4.9]
filtroi_esp = concatenadoeua[concatenadoeua["availability_365"] < 100]
filtroj_esp = concatenadoeua[concatenadoeua["host_response_time"] == "within an hour"]

### Guardar a CSV

In [76]:
#Convertir archivo filtrado a CSV
#filtroa.to_csv("filtroa_esp.csv")
#filtrob.to_csv("filtrob_esp.csv")
#filtroc.to_csv("filtroc_esp.csv")
#filtrod.to_csv("filtrod_esp.csv")
#filtroe.to_csv("filtroe_esp.csv")
#filtrof.to_csv("filtrof_esp.csv")
#filtrog.to_csv("filtrog_esp.csv")
#filtroh.to_csv("filtroh_esp.csv")
#filtroi.to_csv("filtroi_esp.csv")
#filtroj.to_csv("filtroj_esp.csv")

In [77]:
#descargar archivo filtrado en csv
from google.colab import files  
#files.download("filtroa_esp.csv")
#files.download("filtrob_esp.csv")
#files.download("filtroc_esp.csv")
#files.download("filtrod_esp.csv")
#files.download("filtroe_esp.csv")
#files.download("filtrof_esp.csv")
#files.download("filtrog_esp.csv")
#files.download("filtroh_esp.csv")
#files.download("filtroi_esp.csv")
#files.download("filtroj_esp.csv")

# ***DF_Mexico.csv***

## **ETAPA 1**

In [78]:
dfeua = pd.read_csv('DF_Mexico.csv')#, encoding = 'unicode_escape')
dfeua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24224 entries, 0 to 24223
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            24224 non-null  int64
 1   listing_url                                   24224 non-null  object
 2   scrape_id                                     24224 non-null  int64
 3   last_scraped                                  24224 non-null  object
 4   source                                        24224 non-null  object
 5   name                                          24223 non-null  object
 6   description                                   23296 non-null  object
 7   neighborhood_overview                         15145 non-null  object
 8   picture_url                                   24224 non-null  object
 9   host_id                                       24224 non-null  int64
 10  host_url                                      24224 non-null  object
 11  host_name                                     24224 non-null  object
 12  host_since                                    24224 non-null  object
 13  host_location                                 19052 non-null  object
 14  host_about                                    13560 non-null  object
 15  host_response_time                            21133 non-null  object
 16  host_response_rate                            21133 non-null  object
 17  host_acceptance_rate                          22181 non-null  object
 18  host_is_superhost                             24219 non-null  object
 19  host_thumbnail_url                            24224 non-null  object
 20  host_picture_url                              24224 non-null  object
 21  host_neighbourhood                            11823 non-null  object
 22  host_listings_count                           24224 non-null  int64
 23  host_total_listings_count                     24224 non-null  int64
 24  host_verifications                            24224 non-null  object
 25  host_has_profile_pic                          24224 non-null  object
 26  host_identity_verified                        24224 non-null  object
 27  neighbourhood                                 15145 non-null  object
 28  neighbourhood_cleansed                        24224 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      24224 non-null  float64
 31  longitude                                     24224 non-null  float64
 32  property_type                                 24224 non-null  object
 33  room_type                                     24224 non-null  object
 34  accommodates                                  24224 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                24194 non-null  object
 37  bedrooms                                      23669 non-null  float64
 38  beds                                          23953 non-null  float64
 39  amenities                                     24224 non-null  object
 40  price                                         24224 non-null  object
 41  minimum_nights                                24224 non-null  int64
 42  maximum_nights                                24224 non-null  int64
 43  minimum_minimum_nights                        24223 non-null  float64
 44  maximum_minimum_nights                        24223 non-null  float64
 45  minimum_maximum_nights                        24223 non-null  float64
 46  maximum_maximum_nights                        24223 non-null  float64
 47  minimum_nights_avg_ntm                        24223 non-null  float64
 48  maximum_nights_avg_ntm                        24223 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              24224 non-null  object
 51  availability_30                               24224 non-null  int64
 52  availability_60                               24224 non-null  int64
 53  availability_90                               24224 non-null  int64
 54  availability_365                              24224 non-null  int64
 55  calendar_last_scraped                         24224 non-null  object
 56  number_of_reviews                             24224 non-null  int64
 57  number_of_reviews_ltm                         24224 non-null  int64
 58  number_of_reviews_l30d                        24224 non-null  int64
 59  first_review                                  20628 non-null  object
 60  last_review                                   20628 non-null  object
 61  review_scores_rating                          20628 non-null  float64
 62  review_scores_accuracy                        20572 non-null  float64
 63  review_scores_cleanliness                     20573 non-null  float64
 64  review_scores_checkin                         20572 non-null  float64
 65  review_scores_communication                   20572 non-null  float64
 66  review_scores_location                        20571 non-null  float64
 67  review_scores_value                           20571 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              24224 non-null  object
 70  calculated_host_listings_count                24224 non-null  int64
 71  calculated_host_listings_count_entire_homes   24224 non-null  int64
 72  calculated_host_listings_count_private_rooms  24224 non-null  int64
 73  calculated_host_listings_count_shared_rooms   24224 non-null  int64
 74  reviews_per_month                             20628 non-null  float64
dtypes: float64(22), int64(19), object(34)
memory usage: 13.9+ MB

In [79]:
#Checar si hay valores nulos por columna
pd.set_option('display.max_rows', None)
valores_nulos=dfeua.isnull().sum().sum()
valores_nulos

189609

### Filtros

In [80]:
#Crear filtro numerico y no numerico
filtroeuanumerico = dfeua.select_dtypes(include=['float64', 'int64'])
#filtroeuanumerico.info()

In [81]:
filtroeua = dfeua.select_dtypes('object')
#filtroeuanonumerico.info()

### Nulos

In [82]:
#sustituir los nulos por el promedio de la columna
data1 = filtroeuanumerico.copy()
filtroeuanumerico = data1.fillna(data1.mean())


#sustituir los nulos por 'sin registro'
filtroeua = filtroeua.fillna('sin registro')

In [83]:
#Checar si hay valores nulos por columna    NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=filtroeuanumerico.isnull().sum().sum()
valores_nulos

96896

In [84]:
#Checar si hay valores nulos por columna    NO NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=filtroeua.isnull().sum().sum()
valores_nulos

0

In [85]:
#NUMERICO
#Se eliminaron las columnas 'neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated', 'license'
#ya que son numericas pero no tienen ningun registro y no aportan valor al análisis
filtroeuanumerico = filtroeuanumerico.drop(['neighbourhood_group_cleansed', 'bathrooms', 'calendar_updated','license'], axis=1)

#Checar si hay valores nulos por columna
pd.set_option('display.max_rows', None)
valores_nulos=filtroeuanumerico.isnull().sum().sum()
valores_nulos

0

### Outliers **MÉTODO DE IQR (RANGO INTER QUARTILICO)**

In [86]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=filtroeuanumerico

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
#print("Limite superior permitido", Limite_Superior_iqr)
#print("Limite inferior permitido", Limite_Inferior_iqr)

In [87]:
#Encontramos Ouliers
outliers_iqr= filtroeuanumerico[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
#outliers_iqr.head()

In [88]:
#Obtenemos datos limpios
data_clean_iqr1= filtroeuanumerico[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
#data_clean_iqr1.head()

In [89]:
#Checar si hay valores nulos por columna    NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=data_clean_iqr1.isnull().sum().sum()
valores_nulos

54132

In [90]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data5_iqr=filtroeuanumerico.copy()
data5_iqr=data5_iqr.fillna(round(filtroeuanumerico.mean(),1))
#data5_iqr

In [91]:
#Checar si hay valores nulos por columna    NUMERICO
pd.set_option('display.max_rows', None)
valores_nulos=data5_iqr.isnull().sum().sum()
valores_nulos

0

### Concatenar

In [92]:
concatenadoeua = pd.concat([data5_iqr, filtroeua], axis=1)
concatenadoeua.head()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,property_type,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable
0,2056638,20230329041210,10531228,3,7,19.35353,-99.16299,3,1.0,1.0,...,Entire loft,Entire home/apt,1.5 baths,"[""Wifi"", ""Hangers"", ""Fire extinguisher"", ""Sham...","$1,434.00",t,2023-03-30,2014-01-03,2018-06-24,f
1,2072354,20230329041210,16840050,3,3,19.35358,-99.16948,2,1.0,1.0,...,Entire guest suite,Entire home/apt,1 bath,"[""Free street parking"", ""Cleaning products"", ""...",$830.00,t,2023-03-30,2014-01-01,2022-11-04,f
2,696037,20230329041210,3531879,4,4,19.44180,-99.18402,6,3.0,3.0,...,Entire rental unit,Entire home/apt,2 baths,"[""Wifi \u2013 38 Mbps"", ""Central air condition...","$1,469.00",t,2023-03-29,2012-10-31,2022-12-21,f
3,35797,20230329041210,153786,1,1,19.38283,-99.27178,2,1.0,1.0,...,Entire villa,Entire home/apt,1 bath,"[""Wifi"", ""Washer"", ""BBQ grill"", ""Indoor firepl...","$3,658.00",t,2023-03-29,sin registro,sin registro,f
4,44616,20230329041210,196253,16,16,19.41162,-99.17794,14,5.0,8.0,...,Entire home,Entire home/apt,5.5 baths,"[""Free street parking"", ""Security cameras on p...","$18,000.00",t,2023-03-30,2011-11-09,2023-03-26,f

### Guardar a CSV

In [93]:
#Convertir archivo filtrado a CSV
concatenadoeua.to_csv("MEX_limpio.csv")

In [94]:
#descargar archivo filtrado en csv
from google.colab import files  
files.download("MEX_limpio.csv")

## **ETAPA 2**

In [95]:
#filtroa
#se cambiaron los valores "sin registro" por "5%" para poder identificarlos ya que el dataset no tiene registros con ese valor
concatenadoeua["host_acceptance_rate"] = concatenadoeua["host_acceptance_rate"].replace("sin registro", "5%")
#se elimino el "%"
concatenadoeua['host_acceptance_rate'] = pd.to_numeric(concatenadoeua['host_acceptance_rate'].str.replace('%', ''))

In [96]:
#filtroe
#cambiar Half-bath, Shared half-bath, Private half-bath, sin registro
concatenadoeua["bathrooms_text"] = concatenadoeua["bathrooms_text"].str.replace('Half-bath', '0.5').str.replace('Shared half-bath', '0.5').str.replace('Private half-bath', '0.5').str.replace('sin registro', '0')

#se extraen los numeros y se guardan como string en la misma columna
concatenadoeua["bathrooms_text"] = concatenadoeua["bathrooms_text"].str.extract('(\d+\.?\d*)', expand=False)

#cambiar columna a float
concatenadoeua["bathrooms_text"] = concatenadoeua["bathrooms_text"].astype(float)

In [97]:
#filtrof
#se elimino el "$" y ","
#se cambia la columna "price" a float para poder compararla
concatenadoeua["price"] = concatenadoeua["price"].str.replace(',', '').str.replace('$', '').astype(float)

<ipython-input-97-af53cb0f8d5c>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  concatenadoeua["price"] = concatenadoeua["price"].str.replace(',', '').str.replace('$', '').astype(float)

In [98]:
filtroa_mex = concatenadoeua[concatenadoeua["host_acceptance_rate"] > 50]
filtrob_mex = concatenadoeua[concatenadoeua["host_is_superhost"] == "t"]
filtroc_mex = concatenadoeua[concatenadoeua["host_identity_verified"] == "f"]
filtrod_mex = concatenadoeua[concatenadoeua["property_type"].isin(["Private room", "Hotel room"])]
filtroe_mex = concatenadoeua[concatenadoeua["bathrooms_text"] > 1]
filtrof_mex = concatenadoeua.loc[(concatenadoeua['price'] > 10000) & (concatenadoeua['room_type'] == 'Entire home/apt')]
filtrog_mex = concatenadoeua[concatenadoeua["review_scores_cleanliness"] > 4.5]
filtroh_mex = concatenadoeua[concatenadoeua["review_scores_value"] > 4.9]
filtroi_mex = concatenadoeua[concatenadoeua["availability_365"] < 100]
filtroj_mex = concatenadoeua[concatenadoeua["host_response_time"] == "within an hour"]

### Guardar a CSV

In [99]:
#Convertir archivo filtrado a CSV
#filtroa.to_csv("filtroa_mex.csv")
#filtrob.to_csv("filtrob_mex.csv")
#filtroc.to_csv("filtroc_mex.csv")
#filtrod.to_csv("filtrod_mex.csv")
#filtroe.to_csv("filtroe_mex.csv")
#filtrof.to_csv("filtrof_mex.csv")
#filtrog.to_csv("filtrog_mex.csv")
#filtroh.to_csv("filtroh_mex.csv")
#filtroi.to_csv("filtroi_mex.csv")
#filtroj.to_csv("filtroj_mex.csv")

In [100]:
#descargar archivo filtrado en csv
from google.colab import files  
#files.download("filtroa_mex.csv")
#files.download("filtrob_mex.csv")
#files.download("filtroc_mex.csv")
#files.download("filtrod_mex.csv")
#files.download("filtroe_mex.csv")
#files.download("filtrof_mex.csv")
#files.download("filtrog_mex.csv")
#files.download("filtroh_mex.csv")
#files.download("filtroi_mex.csv")
#files.download("filtroj_mex.csv")

# ***Insights filtros***

In [ ]:
#print(filtroj_eua.info(),filtroj_esp.info(),filtroj_mex.info())

Conclusión filtros

Para el filtro a primero que nada debieron cambiarse los valores en registro por un valor numérico, en este caso se cambiaron por el 5% ya que este valor no está en los registros por lo que de esta manera pueden ser identificados y posteriormente se eliminó el porcentaje presente en los registros. Después de eso se utilizó la función para filtrar las instancias cuyo valor es mayor a 50. En el data set de EUA sostuvieron 5679 instancias, en el de España 17,285 millones de Mexico 20,840. La diferencia de drástica de cantidades se deben parte del tamaño de las bases de datos, México siendo la más grande seguida por España y Estados Unidos.

El filtro b obtiene las instancias cuyo valor es correcto en la columna host_is_superhost en EUA se obtuvieron 2869 registros, en España 3056 registros y en México 8793 registros. 

El filtro c obtiene los valores falsos para la columna host_identity_verified, archivo de Estados Unidos 830 registros, en el de España 2261 registros y en el de Mexico 1923 registros.

El filtro d como a las instancias con valor de cuarto privado y de Cuarto de Hotel en la columna property_type. Es la tasa de Estados Unidos obtuvo cuatro registros, el de España siete y el de Mexico 43. 

Para el filtro e primero se tuvieron que cambiar los valores en texto a un número ya que estos no contenían ningún número por ejemplo medio baño. Después de televisión código para extraer los números de la columna y por último se cambió la columna a float. Esto para poder utilizar la función de filtrado para valores que son mayores a uno. En Estados Unidos sostuvieron 1844 registros, en España 9130 y en México 8904.

Para el filtro F  se eliminaron los signos de pesos y las comas de la columna y después se cambió a tipo float para después filtrar a valores mayores de 10,000 y que el tipo de cuarto sea igual a la casa completa. En Estados Unidos obtuvieron dos registros, en España 10 y en México 173.

El filtro G toma los valores mío es 4.5 en la columna review_scores_cleanliness en Estados Unidos sostuvieron 6127 registros, en España 14,690 y en México 21,445.

El filtro H similarmente al anterior, toma los valores mayores a 4.9 pero para la columna review_scores_value. En Estados Unidos obtuvieron 1376 registros, en España 2596 y en México 6484.

El filtro I toma los valores menores a 100 en la columna availability_365. En Estados Unidos se obtuvieron 2680 registros, en España 4981 y en México 5130.

El filtro J toma los valores de la columna host_response_time qué son iguales a menos de una hora. En Estados Unidos obtuvieron 4221 registros, en España 12,261 y por último en México 16,997.

Cabe mencionar que la discrepancia entre los tres archivos se puede ver en parte a la cantidad de registros en cada uno, será interesante comparar dichos datos con un porcentaje del total de los registros para cada una de las bases de datos en la siguiente etapa del entregable.